HELP.md
.gradle
build/
!gradle/wrapper/gradle-wrapper.jar
!**/src/main/**/build/
!**/src/test/**/build/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
bin/
!**/src/main/**/bin/
!**/src/test/**/bin/

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr
out/
!**/src/main/**/out/
!**/src/test/**/out/

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### VS Code ###
.vscode/

### .env ###
/.env
/docker/database/.env
/docker/monitoring/.env

### .DS_Store ###
.DS_Store


### Querydsl QClass ###
**/generated/**/Q*.java

### terraform ###
# Terraform 상태 파일 (보안상 중요)
terraform/terraform.tfstate
terraform/terraform.tfstate.backup
# Terraform 상태 디렉터리
terraform/.terraform
terraform/.terraform.lock.hcl
# Terraform 변수 파일 (AWS Access Key 등 민감 정보 포함)
terraform/secrets.tf
/spy.log